@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

footer {
	background-color: #d6d6d6;
}

header {
	background-color: #d6d6d6;
	font-family: 'IM Fell English' ;
	text-align: center;
}
